*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    width: 100;
}

header{
    display: flex;
    width: 100;
    justify-content: space-between;
    padding: 5% 8%;

}
nav{
    display: flex;
    width: 20%;
    justify-content: space-between;
    align-items: center;
}
a{
    font-size: 20px;
    font-weight: 700;
    color: #AFF288;
    padding: 2% 16px;
}

a:hover{
    border: 2px solid#AFF288;
    padding: 8px;
}

section,.main-img{
    width: 100%;
}

.content1{
    color: white;
    background-color: #AFF288;
    width: 100%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    font-size: 100px;
}
.content2{
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
    font-size: 25px;
}
.content-img{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 2% 8%;
    text-align: center; 
    align-items:center;
}
.product-img img{
    width: 250px;
    height: 250px;
    object-fit: cover;
}